#error_pic_reg{text-align: center; }
.loader {position: relative;
    left:48%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid brown;
    border-bottom: 16px solid brown;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
