@charset "utf-8";


form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}

/* ----------------------------------------------Search Form------------------------------------- */

#topbar input{display:block; float:left; width:229px; margin:0 5px 0 0; padding:5px; color:#E4DFCA; background-color:#402720; border:1px solid #F7F0D6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
#topbar input#go{width:auto; height:auto; margin:0; padding:4px;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */

#container #respond{display:block; width:100%;}
#container #respond input{width:170px; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#container #respond textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}

#container #respond p{margin:5px 0;}
#container #respond #submit, #container #respond #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; border:1px solid #CCCCCC;}

/* ----------------------------------------------Newsletter------------------------------------- */

#footer form{display:block; width:300px; margin:0; padding:0; border:none;}
#footer input{display:block; float:left; width:245px; margin:0 5px 0 0; padding:5px; color:#666666; background-color:#FFFFFF; border:1px solid #D4D4D4; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
#footer input#news_go{width:auto; height:auto; margin:0; padding:4px;}